*.log
*.sql
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

.directory


wp-content/plugins/bwp-minify/cache/*
wp-content/plugins/bwp-minify/min/config.php

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

wp-content/w3tc/min/*
!wp-content/w3tc/min/.htaccess
!wp-content/w3tc/min/index.php

wp-content/w3tc/dbcache/*
!wp-content/w3tc/dbcache/.htaccess
!wp-content/w3tc/dbcache/index.php

wp-content/w3tc/pgcache/*

wp-content/wflogs/
wp-content/wflogs/config.php
wp-content/plugins/wordfence/css/
o
wp-content/plugins/wordfence/js/
